<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="/home.css">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="top">
<div class=userName>
<h1 class="h1Top"> Hi    <%= user.name %></h1>
</div>
<div id="sign-out-btn" class="sign-out-btn">
    <a href="/sign-out" ><img src="https://png.icons8.com/ios/50/666666/circled-left-2-filled.png"></a>   
</div>
<div class="profileBtn">
<a href="/profile"><img src="https://png.icons8.com/ios/50/666666/user-filled.png"></a>
</div>
<div class="addArticleBtn">
<a href="/add_article"><img src="https://png.icons8.com/ios/50/666666/plus-filled.png"></a>
</div>
</div>
<div class="blog" id="2">
               <div class='title'>
                  Tish B'Av <span class="author">2018-07-22 15:28:47.0 by Charles Ohana</span>
                  <div class='content'><p>wrew rew rew</p><p>BBBBBBBBBBB</p></div>
               </div>
               <div class="feedback">
                  <i class="fa fa-thumbs-up"></i>&nbsp;<span class='like'>4</span>
                  &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-commenting-o"></i>&nbsp;<span class='comment'>0</span>
                  <div class='tar'>
                     <textarea placeholder='Write comment here'></textarea><br>
                     <button class="post">POST</button>
                  </div>
               </div>
               <div class="sliders comments"></div>
               <div class="sliders likes"></div>
            </div>
            
            <div class="blog" id="1">
               <div class='title'>
                  LAg B'Omer <span class="author">2018-07-22 15:28:26.0 by Charles Ohana</span>
                  <div class='content'><p>wrew rew rew</p><p>r ewr ewr ew rwe</p></div>
               </div>
               <div class="feedback">
                  <i class="fa fa-thumbs-up"></i>&nbsp;<span class='like'>0</span>
                  &nbsp;&nbsp;&nbsp;
                  <i class="fa fa-commenting-o"></i>&nbsp;<span class='comment'>0</span>
                  <div class='tar'>
                     <textarea placeholder='Write comment here'></textarea><br>
                     <button class="post">POST</button>
                  </div>
               </div>
               <div class="sliders comments"></div>
               <div class="sliders likes"></div>
            </div>

        <script src="main.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="home.js"></script>

</body>
</html>
