<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">

</head>
<body>
<div class="container">
    <h1>Profile</h1>
    <div><%= user.name %></div>
    <div><%= user.dob %></div>
    <div><%= user.email %></div>
    
    <a href="/home">Go back to Home Page</a>
    </br>
    <a href="/update_profile">Edit your profile</a>
</div>
    
        <script src="main.js"></script>

</body>
</html>